
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

nav{
    height: 6rem;
    width: 100vw;
    background-color: #ba5925;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    z-index: 10;
    margin-bottom: 10px;
}

/*Styling logo*/
.logo{
    padding:1vh 1vw;
    text-align: center;

}
.logo img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    font-size: bold;
    color: black;
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}
.nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
}
.nav-links li a:hover {
    color: #61DAFB;
}
.nav-links li {
    position: relative;
}
.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #61DAFB;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}
.nav-links li a:hover::before{
    width: 80%;
}

/*Styling Buttons*/
.login-button{
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;

}
.login-button:hover {
    color: #070808;
    background-color: #f2f5f7;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}
.join-button{
    color: #131418;
    background-color: #61DAFB;
    border: 1.5px solid #61DAFB;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
}
.join-button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px){
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: #e95607;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
        color:white
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.8s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.ring {
    position: relative;
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.ring i {
    position: absolute;
    inset: 0;
    border: 2px solid #fff;
    transition: 0.5s;
}

.ring i:nth-child(1) {
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: animate 6s linear infinite;
}

.ring i:nth-child(2),
.ring i:nth-child(3) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: animate 20s linear infinite, animate2 10s linear infinite;
}

.ring:hover i {
    border: 6px solid var(--clr);
    filter: drop-shadow(0 0 20px var(--clr));



}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


.features {
    
    background-color: #851d1d;
    width: 100%;
   padding: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
 

}

.features h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.feature {
    position: relative;
    width: 20vh;
    height: 10vh;
    border-radius: 50%;
    display: flex;
   margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    transition: all .4s ease-in-out;
  
    cursor: pointer;
    overflow: hidden;
 
}

/* Image styles */
.feature img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* Links container styles */
.links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Container styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Title styles */
.h-feature {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}
.icons {
    display: flex;
    width: 30px;
    height: 30px;
    letter-spacing: 15px;
    align-items: center;
    justify-content: center;
    margin-left: 50% ;
    margin-top: 10px;
    color: black;
}
footer {
background-color: #a43c3c;
color: rgb(14, 13, 13);
text-align: center;
padding: 5px 0;
margin-top: 5%;
}


/* Responsive styles */
@media screen and (max-width: 768px) {
    .feature {
        width: 100%;
        max-width: 250px;
        padding: 20% auto;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20% auto;
    }

    .links {
        flex-direction: column;
        align-items: center;
    }
}

.feature:hover .banner-img {
    transform: scale(1.2);
}


.card {
    position: fixed !important;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f9f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: #141212;
    transition: top 0.5s ease-in-out;
}

.feature:hover .card {
    top: 10%;
    left: 30%;

}


.card h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    font-size: 18px;
    color: #666;
}

@media screen and (max-width: 768px) {
    .feature {
        grid-template-columns: repeat(2, 1fr);


         /* Change to two columns */
    }

    .features h2 {
        font-size: 24px;
    }

    .feature:hover .card {
        top: 15% !important; /* Added !important to override inline styles */
        left: 20% !important;
    }
        .footer {
        margin-top: 25px;
        text-align: center;
        position: relative;
    }

    .icons {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 10px 0;
    }

    .icons a {
        margin: 0 5px;
    }

}

.blog {
       background-color: #fff;
    padding: 50px 0;
}

.blog h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.blog-post {
    background-color: #f9f7f7;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.blog-post h2 {
   text-align: center;
    margin-bottom: 40px;
    color: #333;
}

.blog-post p {
  font-size: 18px;
    line-height: 1.6;
    color: #666;
}

.blog-post a {
    color: #a43c3c;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.blog-post a:hover {
    color: #911b1b;
}
